.main2{
    padding:0px 0px 60px;
    text-align: center;
}
#title_3min{
    font-size: 30px;
}
#title_3min_article{
    margin: 5px 0 0;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    vertical-align: middle;
    color: #767676!important;
}
.title_3min_img_list{
    padding: 0px;
    margin:30px auto 0;
    display: flex;
    width: 70%;
}
.title_3min_img_list li a div{
    width: 100%;
    margin: 10px;
}
.title_3min_img_list li{
    width: 100%;
    margin: 0px 20px 50px;
    height: 200px;
}

.title_3min_img_list li img{
    width: 100%;
    height: 170px;
}
.title_3min_img_list li p{
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    margin: 17px 0 8px;
    line-height: 24px;   
}