.main7{
    padding: 60px 0px 80px;
    width: 100%;
    margin-bottom: -35px;
    border-bottom:1px solid rgba(128, 128, 128, 0.37);
}
.main7_content{
    width: 70%;
    margin: 0 auto;
}
.main7_content h2{
    font-size: 30px;
    margin:0 0 30px;
}
.main7_gridbox{
    margin: 0 auto;
    margin-top: 40px;
    width: 70%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border:1px solid rgba(128, 128, 128, 0.37);
    border-right: 0px;
}
.main7_gridcont{
    border-right:1px solid rgba(128, 128, 128, 0.37); ;
    padding: 25px;
}
.main7_gridcont i{
    display: block;
    font-size: 50px;
}
.grid_cont_text{
    font-size: 20px;
    margin-top: 20px;

}