/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
#menuBar{
    padding: 0;
}
body {
    box-sizing: border-box;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.page{
    width: 100vw;
    height: 100vh;
    /*display: flex;
    flex-direction: column;*/
    margin:0 auto;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.main{
    margin-top: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.first_main{
    width: 70%;
    justify-content: center;
    align-items: center;
}
.first_main img{
    width: 100%;
}

#insight{
    margin: 0 auto;
    font-size: 20px;
    font-weight: 800;
}
.btn_list{
    justify-content:space-between;
    align-items: center; /*각 요소들을 중앙에 정렬 */
    vertical-align: middle;
    line-height: 20px;
    display:flex;
    padding:15px;
    padding-left: 0px;
    margin:0 auto;
    font-weight: 600;    
}
.btn_list li button{
    padding:10px 20px;
    color: #666;
    background-color: white;
    height: 40px;
    border-radius: 25px;
    margin: 20px 0;
    font-size: 14px;
    margin-left: 15px;
    font-weight: 700;
    border: 1px solid rgba(128, 128, 128, 0.37);
}

.img_list{
    padding: 0;
    margin:20px auto 0;
    flex-wrap: wrap;
    display: flex;
    width: 70%;
}
.img_list li{
    margin: 0px 0px 40px;
    width: 25%;
    flex-direction: column;
    text-align: left;
}
.img_list li img{
    width: 95%;
    
    object-fit:cover;
}
.img_list li p{
    width: 95%;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    margin: 17px 0 8px;
    line-height: 24px;   
}
.img_list li a :nth-child(3){
    text-align: left;
    font-weight: 100;
    font-size: 13px;
    line-height: 19px;
    color: rgb(170,170,170);
    
}
#more{
    width: 70%;
    margin:0 auto;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
}
#more_btn{
    height: 50px;
    width: 400px;
    padding:10px 30px;
    color: #666;
    background-color: white;
    border-radius: 25px;
    margin: 30px 0;
    margin-left: 15px;
    font-weight: 900;
    font-size: 20px;
    border: 1px solid rgba(128, 128, 128, 0.37);

}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
#lightbox{
    position: fixed;  /* 위치 고정 */
    width:100%;  /* 너비 */
    height:100%;  /* 높이 */
    background-color:rgba(0,0,0,0.4);  /* 배경색 */
    top:0;  /* 시작 위치 - 위쪽 끝 */
    left:0; /* 시작 위치 - 왼쪽 끝 */
    display: none;
    scrollbar-width: 0px;
}
#modal_login{
    -ms-overflow-style: none;
}
#modal_login::-webkit-scrollbar{
    display: none;
}
#modal_login{
    width: 25%;
    height: 80%;
    overflow-y: scroll;
    background-color: white;
    position:absolute;  /* top, left에 의해 위치 지정 */
    top:50%;  /* 위쪽에서 50% 부터 */
    left:50%;  /* 왼쪽에서 50% 부터 */
    transform:translate(-50%, -50%);  /* 요소를 화면 중앙에 표시하기 위해 이동 */
    scrollbar-width: 0px;
}
#modal_login header{
    text-align: center;
}
#modal_login_text{
    font-size:0.75em;
}
#modal_login_text h3{
    font-weight: 300;
}
.mail_page{
    padding: 20px;
}
#mail_label{
    color: rgb(118, 118, 118);
    font-weight: 300;
    font-size: 0.75em;
}
#email_text{
    margin-top: 11px;
    width: 100%;
    height: 3.13em;
    border: 1px solid rgba(118, 118, 118, 0.418) ;
}
#email_submit_btn{
    width: 100%;
    border: 1px blue solid;
    border-radius: 28px;
    height: 3.3em;
    color: white;
    background-color: blue;
}
.email_submit_text{
    text-align: center;
    color: rgb(118, 118, 118);
    font-size: 0.8em;
}
.sns_list{
    padding: 0px;
    list-style: none;
    display: flex;
    margin:0 auto;
    text-align: center;
}
.sns_list li{
    margin-bottom: 0.5em;
    width: 25%;
}
#foot{
    margin-top: 26px;
    text-align: center;
    font-size: 0.5em;
    line-height: 18px;
    color: #999;
}
.modal_exit{
    display: flex;

}
.modal_exit p{
    margin: 0 auto;
    font-size: 1.5em;
    width: 100%;
    padding-left: 1em;
}
.modal_exit button{
    background-color: white;
    border: 0px;
    padding: 5px 5px 20px 20px;


}
/*밑에 부분 부터 hunting_detail css입니다.*/
.hunting_detail_container{
    width: 70%;
    margin:0 auto;
    margin-top: 90px;
}
.hunting_detail_main{
    display: flex;;

}
.hunting_detail_div1{
    width: 62%;
}
.hunting_detail_div1 img{
    width: 100%;

}