.main3{
    margin-top: 55px;
    padding:40px 0px;
    text-align: center;
    width: 100%;
}
#wanted_vod{
    width: 70%;
    margin: 0 auto;
    border-top: 1px solid rgba(128, 128, 128, 0.37);
    padding-top: 40px;
}
#wanted_vod div h2{
    font-size: 20px;
    margin-bottom: 0px;
}
#wanted_vod a{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: #767676;
}
#wanted_vod p{
    margin-top: 6px;

}
.vod_list{
    padding: 10px 0px 60px;
    margin:30px auto 0;
    display: flex;
    width: 70%;
}
.vod_list li{
    width: 100%;
    margin: 0px 0px 50px;
    height: 200px;
}
.vod_list li a div{
    width:15.625rem;
    height: 10.938rem;
    margin-top: 10px;
    font-size: 12px;
}
.vod_list li img{    
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.vod_list li p{
    width:15.625rem;
    text-align: left;
    font-weight: 700;
    margin: 17px 0 8px;
    font-size: 14px;
    line-height: 1.5;
    font: 800;
}
.vod_list li a{
    text-align: left;
    font-size:12px;
    font-weight:100;
    
}